DATABASE_URL=mongodb+srv://<username>:<password>@<cluster-url>/<dbname>?retryWrites=true&w=majority
JWT_SECRET=change-me-in-production
PORT=5000
NODE_ENV=development
AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
FEATHERLESS_API_KEY=
